.karan{
    height: 100px;
width: 500px;
    background-color: pink;
    /* transition-property: all;
    transition-duration: 3s; */
    border:3px solid blue;
    font-size: 20px;
    /* transition-timing-function:ease-in;
    transition-delay: 2s; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease-in 1s;
    
}
.karan:hover{
    background-color: blue;
    color: aqua;
    font-size: 50px;
}
.karan:active{
    background-color: red;
    font-size: 10px;
}